---
const { title, url, description, pubDate, author } = Astro.props;
import Text from "@/components/fundations/elements/Text.astro";
---

<a
  href={url}
  title={title}
  class="group block border border-black/10 dark:border-white/10 rounded-lg p-6 transition-all duration-300 ease-in-out hover:scale-105 hover:shadow-lg"
>
  <div class="flex flex-col">
    <Text
      tag="span"
      variant="textXS"
      class="font-medium text-[#222222] dark:text-white uppercase"
    >
      {author} -
      <time datetime={pubDate}>{pubDate}</time>
    </Text>
    <Text
      tag="h4"
      variant="textLg"
      class="text-[#222222] dark:text-white mt-1 font-medium group-hover:text-[#222222]/70 dark:group-hover:text-white/70 text-lg"
    >
      {title}
    </Text>
    <Text
      tag="p"
      variant="textSM"
      class="text-[#222222] dark:text-white mt-4"
    >
      {description}
    </Text>
    <slot name="additional-content" />
  </div>
</a>
